.modal-open {
    .modal-content {
        font-family: 'Dekko', cursive;
        font-family: 'Neucha', cursive;

        .modal-header {
            background: #8ec6c5;
        }

        .modal-footer {
            background: #8ec6c5;
        }
    }
}
