@import '_header';
@import '_login';
@import '_dashboard';
@import '_footer';
@import '_modaladdproduct';
@import '_pageerror';



body {
    margin: 0;
    padding: 0;

    #root {
        width: 100%;
        height: 100vh;
    }
}
