header {
  background: #8ec6c5;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  outline: none;
}
header a img {
  border-radius: 5px;
}
header .div-button {
  float: right;
}
@media (max-width: 320px) {
  header {
    width: 100%;
    height: 75px;
  }
  header img {
    width: 70%;
    height: 45px;
    margin-left: 20px;
  }
  header button[type=button] {
    width: 90%;
    height: 40px;
    color: black;
    margin-right: 20px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 10px;
    outline: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    width: 100%;
    height: 80px;
  }
  header img {
    width: 90%;
    height: 47px;
    margin-left: 22px;
  }
  header button[type=button] {
    width: 93%;
    height: 42px;
    color: black;
    margin-right: 22px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 11px;
    outline: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  header {
    width: 100%;
    height: 85px;
  }
  header img {
    width: 95%;
    height: 49px;
    margin-left: 24px;
  }
  header button[type=button] {
    width: 96%;
    height: 44px;
    color: black;
    margin-right: 24px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 12px;
    outline: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
    height: 90px;
  }
  header img {
    width: 100%;
    height: 51px;
    margin-left: 26px;
  }
  header button[type=button] {
    width: 99%;
    height: 46px;
    color: black;
    margin-right: 26px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 14px;
    outline: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 95px;
  }
  header img {
    width: 100%;
    height: 53px;
    margin-left: 28px;
  }
  header button[type=button] {
    width: 100%;
    height: 48px;
    color: black;
    margin-right: 28px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 16px;
    outline: none;
  }
}
@media (min-width: 1200px) {
  header {
    width: 100%;
    height: 100px;
  }
  header img {
    width: 100%;
    height: 55px;
    margin-left: 30px;
  }
  header button[type=button] {
    width: 100%;
    height: 50px;
    color: black;
    margin-right: 30px;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 18px;
    outline: none;
  }
}

#Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6983aa;
  font-family: "Dekko", cursive;
  font-family: "Neucha", cursive;
  width: 100%;
  height: 100vh;
}
#Login section {
  border-radius: 10px;
  background: #f4f4f4;
}
#Login section picture {
  width: 100%;
  display: flex;
  justify-content: center;
}
#Login section picture img {
  border-radius: 5px;
}
#Login section button[type=submit] {
  background: #8566aa;
  cursor: pointer;
}
#Login section button[type=submit]:hover {
  background: #ad6989;
}
@media (max-width: 320px) {
  #Login {
    font-size: 12px;
  }
  #Login section {
    width: 85%;
    height: auto;
    padding: 15px 5% 30px 5%;
    margin: 0;
  }
  #Login section img {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #Login {
    font-size: 13px;
  }
  #Login section {
    width: 80%;
    height: auto;
    padding: 20px 10% 35px 10%;
    margin: 0;
  }
  #Login section img {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 13px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #Login {
    font-size: 14px;
  }
  #Login section {
    width: 60%;
    height: auto;
    padding: 25px 10% 40px 10%;
    margin: 0;
  }
  #Login section img {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #Login {
    font-size: 15px;
  }
  #Login section {
    width: 50%;
    height: auto;
    padding: 30px 10% 45px 10%;
    margin: 0;
  }
  #Login section img {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #Login {
    font-size: 16px;
  }
  #Login section {
    width: 40%;
    height: auto;
    padding: 35px 8% 50px 8%;
    margin: 0;
  }
  #Login section img {
    width: 60%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  #Login {
    font-size: 18px;
  }
  #Login section {
    width: 35%;
    height: auto;
    padding: 40px 5% 55px 5%;
    margin: 0;
  }
  #Login section img {
    width: 60%;
    height: auto;
    padding: 0;
    margin: 15px;
  }
  #Login section .div-button-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #Login section .div-button-login button[type=submit] {
    font-size: 18px;
  }
}

#view-dashboard .Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}
#view-dashboard .Dashboard #div-total-products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}
#view-dashboard .Dashboard #div-total-products .button-add {
  background: #6983aa;
}
#view-dashboard .Dashboard section {
  width: 100%;
  height: auto;
}
#view-dashboard .Dashboard section img {
  border-radius: 5px;
}
@media (max-width: 320px) {
  #view-dashboard .Dashboard {
    padding: 5px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 18px;
    margin: 20px auto 20px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 12px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 3px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 12px;
  }
  #view-dashboard .Dashboard section {
    padding: 20px 5px 20px 5px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 11px;
  }
  #view-dashboard .Dashboard section img {
    width: 15%;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view-dashboard .Dashboard {
    padding: 6px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 20px;
    margin: 22px auto 22px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 14px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 4px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 14px;
  }
  #view-dashboard .Dashboard section {
    padding: 22px 7px 22px 7px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 12px;
  }
  #view-dashboard .Dashboard section img {
    width: 12%;
    height: auto;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view-dashboard .Dashboard {
    padding: 6px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 22px;
    margin: 25px auto 25px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 16px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 4px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 16px;
  }
  #view-dashboard .Dashboard section {
    padding: 24px 15px 24px 15px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 13px;
  }
  #view-dashboard .Dashboard section img {
    width: 10%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view-dashboard .Dashboard {
    padding: 7px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 25px;
    margin: 30px auto 30px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 18px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 5px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 18px;
  }
  #view-dashboard .Dashboard section {
    padding: 28px 20px 28px 20px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 14px;
  }
  #view-dashboard .Dashboard section img {
    width: 6%;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view-dashboard .Dashboard {
    padding: 7px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 30px;
    margin: 35px auto 35px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 20px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 6px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 20px;
  }
  #view-dashboard .Dashboard section {
    padding: 30px 30px 30px 30px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 15px;
  }
  #view-dashboard .Dashboard section img {
    width: 5%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #view-dashboard .Dashboard {
    padding: 7px;
    margin: 0;
  }
  #view-dashboard .Dashboard h1 {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 35px;
    margin: 40px auto 40px auto;
  }
  #view-dashboard .Dashboard #div-total-products {
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 22px;
  }
  #view-dashboard .Dashboard #div-total-products .button-add {
    padding: 7px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 22px;
  }
  #view-dashboard .Dashboard section {
    padding: 35px 45px 35px 45px;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 15px;
  }
  #view-dashboard .Dashboard section img {
    width: 5%;
    height: auto;
  }
}

@media (max-width: 320px) {
  footer {
    padding: 5px 6% 2px 6%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 15px;
    background: #8566aa;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    padding: 6px 8% 3px 8%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 17px;
    background: #8566aa;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    padding: 7px 10% 4px 10%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 19px;
    background: #8566aa;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 8px 12% 5px 12%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 20px;
    background: #8566aa;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    padding: 9px 14% 6px 14%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 21px;
    background: #8566aa;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 10px 16% 6px 16%;
    margin: 0;
    font-family: "Dekko", cursive;
    font-family: "Neucha", cursive;
    font-size: 22px;
    background: #8566aa;
  }
}

.modal-open .modal-content {
  font-family: "Dekko", cursive;
  font-family: "Neucha", cursive;
}
.modal-open .modal-content .modal-header {
  background: #8ec6c5;
}
.modal-open .modal-content .modal-footer {
  background: #8ec6c5;
}

body {
  margin: 0;
  padding: 0;
}
body #root {
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
